<header>
    <div class="logo-container">
        <a href="/">
            <img src="/img/RumahDaurLogo.jpg" alt="Logo" class="logo">
        </a>
    </div>
    <div class="header-center">
        <h1>Welcome to RumahDaur</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
  