<header>
    <nav>
        <ul>
            <li><a href="/"><img src="/img/RumahDaurLogo.jpg" alt="Logo" style="height: 40px; vertical-align: middle;"></a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Welcome to RumahDaur</h1>
</header>
  