<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicons/RumahDaurLogo_favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2>Make Recycling Rewarding</h2>
        <p>We help you recycle and earn rewards. Let's make the world a greener place!</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
