<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon/RumahDaurLogo-favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h2>News ID: <%= newsId %></h2>
        <p>Details about the news item will be displayed here.</p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
